*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}

nav{
    width: 80%;
    position: sticky;
    margin: 20PX auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo{
    flex-basis: 20%;
}

.logo img{
    width: 60px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #000;
    text-decoration: none;
    padding: 2px 4px;
    margin: 0px 6px;

}

.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0px;
    left: -10%;
    border-radius: 50%;
    /* background: #ccc; */
}

#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0);
    transition: 1s;
}

.feature img{
    width: 70px;
}

.feature{
    position: absolute;
    display: flex;
    color: #fff;
}

.feature div{
    margin-left: 30px;
}

.feature div p{
    margin-top: 5px;
}

.one{
    top: 450px;
    right: 50px;
}

.two{
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}

.three{
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}

.four{
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
}

.mobile{
    width: 250px;
    position: absolute;
    top: 500px;
    left: 370px;
    transform: translateY(-50%);
    z-index: 1;
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h3{
    margin: 15px 0;
    color: #fff;
}

#upbtn{
    width: 15px;
    cursor: pointer;
}

#downbtn{
    width: 15px;
    cursor: pointer;
}

.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
} 
